#stripped
{
width: 70%;
font-family:sans-serif;
border: 1px solid black;
border-collapse:collapse;
}
th{
padding:12px;
text-align:left;
background-color:#4caf50;
color:white;
border:1px solid #333
}
td
{
padding:10px;
border:1px solid #333;
}
tr{
border:1px solid #333;
}
tr:hover
{
background-color:lightgreen;
}
tr:nth-child(even)
{
background-color:#ddd;
}
tr:nth-child(even):hover
{
background-color:pink;
}


